<div class=" mx-auto text-white w-50 my-5">
  <!-- Add a reservation -->
  <legend class="h2 border-bottom mb-4">Add reservation</legend>

  <!-- Date and time pickers -->
  <div><label for="start-date">* Date and time:</label></div>
  <div class="input-group mb-3">
    <input type="date" class="form-control" placeholder="Pick a date" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker"/>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="d.toggle()">📅</button>
    </div>
  </div>
  <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
  <h6>Selected time: {{ time }}</h6>

  <form [formGroup]="reservForm" (ngSubmit)="onFormSubmit(reservForm.value)">
    <fieldset class="form-group">
      <!-- Parking spot -->
      <div class="form-group">
        <label for="parking">Station: </label>

        <ng-select [items]="availableParkings"
          placeholder="Select a charging station"
          bindValue="id"
          groupBy="location.region"
          bindLabel="location.address"
          [multiple]="false"
          [searchFn]="searchf"
          [selectOnTab]="true"
          formControlName="parking"
        >
          <ng-template ng-optgroup-tmp let-item="item">
            {{ getRegion(item) }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item.location.address }},
            <span class="badge badge-light bg-primary"> from {{ item.company.name }}</span>
            <span [ngClass]="getBadgeClass(item)" class="float-right">{{ item.available_spots }} left</span>
          </ng-template>
          
        </ng-select>
      </div>

      <!-- <h6>Try this: 2020-06-13T14:22:08.745Z</h6> -->

      <!-- Regime -->
      <div class="form-group">
        <label for="regime">* Regime:</label>
        <select class="form-control" formControlName="regime" name="regime">
          <option value="" disabled selected>Select a regime</option>
          <option value="2">Normal(2h)</option>
          <option value="1">Fast charge(1h)</option>
        </select>
      </div>

      <!-- Description -->
      <form-field class="form-group">
        <label for="description">Description (optional): </label>
        <textarea formControlName="description" id="description" type="text" class="form-control text-white" placeholder="Add a description to inform us about something if needed"></textarea>
      </form-field>
      
      <!-- Submit button -->
      <div class="form-group">
        <b>Notice: * fields are required.</b>
      </div>
      <span class="mx-auto">
        <button class="btn btn-outline-info mx-auto" type="submit">Post</button>
      </span>
    </fieldset>

  </form>
</div>